
body {
  background: #ece7e7 !important;
  font-size: 14px;
}

.swiper {
  width: 90%;
  max-height: 450px;
}
.slider_1{
    
}

.swiper-slide {
	max-height: 500px;
  text-align: center;
  font-size: 18px;
  background-image: url(../images/bg.jpg);
 
}

/*About us start*/
.slider{
	padding-bottom: 80px;
}
.slider_img{}
.slider_img img{
  margin-top: 80px;
  border-radius: 15px;
}

.slider_content{
	border: #333333 1px solid;
    margin-top:80px !important;
	padding: 10px 7px;
	background-color: #333333;
	color:#ffffff;
	border-radius: 15px;
}
.slider_content h1{
	margin: 0;
    font-family: 'Lato-Regular';
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}
.slider_content .au_para{
	margin: 35px 0;
}
.au_border{
	border: 1px solid #333333;
}
.slider_content a{
	padding: 7px 20px;
	background-color: #FFC74C;
	color:#3D2514;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 10px;
	transition: 0.3s;
}
.slider_content a:hover{
	color:#FFC74C;
	background-color: #3D2514;
}

/*About us end*/
